@import "tailwindcss";

/* DM Sans */
@font-face {
font-family: "DM Sans";
src: url("/fonts/dm-sans/DMSans-Regular.ttf") format("truetype");
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: "DM Sans";
src: url("/fonts/dm-sans/DMSans-Medium.ttf") format("truetype");
font-weight: 500;
font-style: normal;
}

@font-face {
font-family: "DM Sans";
src: url("/fonts/dm-sans/DMSans-Bold.ttf") format("truetype");
font-weight: 700;
font-style: normal;
}

/* Playfair Display */
@font-face {
font-family: "Playfair Display";
src: url("/fonts/play-fair/PlayfairDisplay-Regular.ttf") format("truetype");
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: "Playfair Display";
src: url("/fonts/play-fair/PlayfairDisplay-Bold.ttf") format("truetype");
font-weight: 700;
font-style: normal;
}

@font-face {
font-family: "Playfair Display";
src: url("/fonts/play-fair/PlayfairDisplay-Black.ttf") format("truetype");
font-weight: 900;
font-style: normal;
}



:root {
--background: #ffffff;
--foreground: #171717;
}

/* Tailwind v4 theme tokens */
@theme inline {
--color-background: var(--background);
--color-foreground: var(--foreground);

--font-sans: "DM Sans", Arial, Helvetica, sans-serif;
--font-playfair: "Playfair Display", serif;
}



@media (prefers-color-scheme: dark) {
:root {
--background: #0a0a0a;
--foreground: #ededed;
}
}


body {
background: var(--background);
color: var(--foreground);
font-family: var(--font-sans);
}


/* Use Playfair font easily */
.playfair {
font-family: var(--font-playfair);
}

/* Example heading style */
h1, h2, h3, h4 {
font-family: var(--font-playfair);
}


p{
    font-size: 1rem
}